.behavior-report-container {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 40%;
    margin: auto;
    margin-top: 50px;
}

.behavior-report {
    display: flex;
    flex-direction: column;
}

.report-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.report-item span:first-child {
    margin-right: 10px;
    font-weight: bold;
}

.report-item span:last-child {
    font-weight: normal;
}