.tripsViewPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.select-wrapper {
    margin-top: 2rem;
}

.select-wrapper label {

    position: absolute;
    top: -1rem;
    left: 0;
    font-size: 0.8rem;
    color: #dc2020;
    transition: all 0.2s ease-in-out;
}

.select-wrapper select:focus+label,
.select-wrapper select:not(:placeholder-shown)+label {
    top: -1.5rem;
    font-size: 0.7rem;
    color: #222;
}