.nav-link {
    position: relative;
}

.nav-link:hover::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #fff;
    animation: growLine 0.2s ease-out forwards;
}

@keyframes growLine {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-out;
}

.nav-link:not(:hover)::before {
    animation: disappearLine 0.2s ease-out forwards;
}

@keyframes disappearLine {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

.logo {
    animation: spin 4s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}