.report-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.report-form h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
  text-decoration: underline;
}

.trip-details,
.videos,
.instance-reports {
  margin-bottom: 20px;
}

.trip-details h3,
.videos h3,
.instance-reports h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333;
}

.trip-details p,
.videos p,
.instance-reports p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #333;
}

.trip-details strong,
.instance-reports strong {
  font-weight: bold;
  color: #333;
}

.videos .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.videos .button:hover {
  background-color: #555;
}

.instance-report {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  max-height: 300px !important;
  overflow-y: scroll !important;
}

.instance-report p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #333;
}

.instance-report strong {
  font-weight: bold;
  color: #333;
}